@import url('https://fonts.googleapis.com/css?family=Montserrat');

.row.generalMe{
    margin: 0;
    padding: 0;
}
.row.generalMe .profile.capa{
    background-image: url("https://poderasgar.com.br/webfiles/img/logo.png");
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.row.generalMe .profile.capa #imageUserProfile{
    width: 20vw;
    border: 0;
    margin-left: 40%;
    padding: 0.5vw;
    height: 20vw;
    border: solid;
    border-radius: 29vw;
}
.row.generalMe input.inputQuestion{
    background-color: white;
    margin-top: 2vw;
    padding: 2vw;
    width: 80%;
    margin-left: 8%;
    border-radius: 3vw;
    text-align: center;
}
.row.generalMe #mountQuestions{
    overflow: scroll;
    height: 86vh;
    margin-top: 1vw;
}
.row.generalMe #mountQuestions .divQuestion{
    background-color: white;
    margin: 1vw;
    padding: 1vw;
    -webkit-border-radius: 1vw;
    -moz-border-radius: 1vw;
    border-radius: 1vw;
    padding-right: 5vw;
    font-family: Montserrat;
    position: relative;
}
.row.generalMe #mountQuestions .divQuestion .options{

}
.row.generalMe #mountQuestions .divQuestion .resposta{
    color: #3e7a87;
    border-radius: 1vw;
    padding: 1vw;
    background-color: #c5e2e8;
    margin-bottom: 1vw;
}
.row.generalMe #mountQuestions .divQuestion .resposta .textResposta{
    padding-left: 3vw;
    color: #3e7a87;
}
.row.generalMe #mountQuestions .divQuestion .options .deleteQuestion{
    right: 0;
    margin-right: 0.6vw;
    color: #358391;
    /*font-size: 5vw;*/
}
.row.generalMe #mountQuestions .divQuestion .options .answer{
    color: #358391;

}
.row.generalMe #mountQuestions .divQuestion .options .hour{
    color: #358391;
}


.row.generalMe #mountQuestions  .divModal{
    display: none;
}
.row.generalMe #mountQuestions  .divModal.show{
    display: block;
    transition: 1s;
    position: fixed;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background-color: rgba(0,0,0,.3);
}
.row.generalMe #mountQuestions .divModal.show .modalContent{
    background-color: white;
    width: auto;
    padding: 3vw;
    -webkit-border-radius: 0.2vw;
    -moz-border-radius: 0.2vw;
    border-radius: 0.2vw;
}

.row.generalMe #mountQuestions .divModal.show .modalContent textarea{
    width: 100%;
    resize: none;
    padding: 1vw;
    font-family: Montserrat;
}
.row.generalMe #mountQuestions .divModal.show .modalContent button.btn{
    width: 100%;
    margin: 1vw;
    font-family: Montserrat;
}
.row.generalMe #mountQuestions .divModal.show .modalContent button.btn.canceled{
    background-color: red;
}
.row.generalMe #mountQuestions .divModal.show .modalContent button.btn.sendAnswer{
    background-color: #2f7784;
    color: white;
}




.row.generalMe #mountQuestions  .myQuestion{
    display: none;
}
.row.generalMe #mountQuestions  .myQuestion.show{
    display: block;
    transition: 1s;
    position: fixed;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background-color: rgba(0,0,0,.3);
}
.row.generalMe #mountQuestions .myQuestion.show .modalContent{
    background-color: white;
    width: 80%;
    padding: 3vw;
    -webkit-border-radius: 0.2vw;
    -moz-border-radius: 0.2vw;
    border-radius: 1vw;
    font-family: Montserrat;
}


.row.generalMe #mountQuestions .myQuestion.show .modalContent .pergunta{
    background-color: whitesmoke;
    border-radius: 1vw;
    margin-bottom: 1vw;
}
.row.generalMe #mountQuestions .myQuestion.show .modalContent .pergunta .textoPergunta{
    margin-left: 7vw;
}
.row.generalMe #mountQuestions .myQuestion.show .modalContent .resposta{
    color: #3e7a87;
    border-radius: 1vw;
    padding: 1vw;
    background-color: #c5e2e8;
    margin-bottom: 1vw;
}
.row.generalMe #mountQuestions .myQuestion.show .modalContent .resposta .textResposta{
    margin-left: 7vw;
}
.row.generalMe #mountQuestions .myQuestion.show .modalContent .hour{
    background-color: whitesmoke;
    padding: 1vw;
}