@import url('https://fonts.googleapis.com/css?family=Montserrat');
.btn-floating.waves-effect.waves-light.red{
    position: fixed;
    right: 2vw;
    bottom: 5vw;
}
body , html{
    position: fixed;
    width: 100%;
}
.row.generalMe{
    margin: 0;
    padding: 0;
}
.row.generalMe .profile.capa{
    background-image: url("https://poderasgar.com.br/webfiles/img/logo.png");
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.row.generalMe .profile.capa #imageProfile{
    width: 20vw;
    border: 0;
    margin-left: 40%;
    padding: 0.5vw;
    height: 20vw;
    border: solid;
    border-radius: 29vw;
}
.row.generalMe input.inputQuestion{
    background-color: white;
    margin-top: 2vw;
    width: 80%;
    margin-left: 8%;
    border-radius: 1vw;
    text-align: center;
}
.row.generalMe #btnSend{
    transition: 0.2s;
    width: 100%;
    position: absolute;
    left: 100vw;
    bottom: 0;
}
.row.generalMe #btnSend.show{
    transition: 0.5s;
    width: 100%;
    position: fixed;
    height: 15vw;
    font-size: 8vw;
    font-family: Montserrat;
    left: 0;
    bottom: 0;
    z-index: 99;
}
.row.generalMe #mountQuestions{
    height: 85vh;
    margin-top: 3vw;
    overflow: scroll;
}
.row.generalMe #mountQuestions .divQuestion{
    background-color: white;
    margin: 1vw;
    padding: 1vw;
    -webkit-border-radius: 1vw;
    -moz-border-radius: 1vw;
    border-radius: 1vw;
    padding-right: 5vw;
    font-family: Montserrat;
    position: relative;
}
.row.generalMe #mountQuestions .divQuestion .question{
    padding: 1vw;
}
.row.generalMe #mountQuestions .divQuestion .data{
    right: 0;
    padding-right: 3vw;
    font-size: 2vw;
    bottom: 0;
    text-align: right;
    display: flow-root;
    padding-top: 1vw;
}
.row.generalMe #mountQuestions .divQuestion .resposta{
    color: #3e7a87;
    border-radius: 1vw;
    padding: 1vw;
    background-color: #c5e2e8;;
}
.row.generalMe #mountQuestions .divQuestion .resposta .textResposta{
    padding-left: 3vw;
    color: #3e7a87;
}


.divModal{
    display: none;
}
.divModal.show{
    display: block;
    transition: 1s;
    position: fixed;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background-color: rgba(0,0,0,.3);
}
.divModal.show .modalContent{
    background-color: white;
    width: 85%;
    padding: 1vw;
    -webkit-border-radius: 0.2vw;
    -moz-border-radius: 0.2vw;
    border-radius: 0.2vw;
    border-radius: 1vw;
}







.row.generalMe #mountQuestions  .myQuestion{
    display: none;
}
.row.generalMe #mountQuestions  .myQuestion.show{
    display: block;
    transition: 1s;
    position: fixed;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background-color: rgba(0,0,0,.3);
}
.row.generalMe #mountQuestions .myQuestion.show .modalContent{
    background-color: white;
    width: 80%;
    padding: 3vw;
    -webkit-border-radius: 0.2vw;
    -moz-border-radius: 0.2vw;
    border-radius: 1vw;
    font-family: Montserrat;
}


.row.generalMe #mountQuestions .myQuestion.show .modalContent .pergunta{
    background-color: whitesmoke;
    border-radius: 1vw;
    margin-bottom: 1vw;
}
.row.generalMe #mountQuestions .myQuestion.show .modalContent .pergunta .textoPergunta{
    margin-left: 7vw;
}
.row.generalMe #mountQuestions .myQuestion.show .modalContent .resposta{
    color: #3e7a87;
    border-radius: 1vw;
    padding: 1vw;
    background-color: #c5e2e8;
    margin-bottom: 1vw;
}
.row.generalMe #mountQuestions .myQuestion.show .modalContent .resposta .textResposta{
    margin-left: 7vw;
}
.row.generalMe #mountQuestions .myQuestion.show .modalContent .hour{
    background-color: whitesmoke;
    padding: 1vw;
}