body {
    font-family: 'Dosis', sans-serif;
}
i{
    cursor: pointer!important;
}
.ml{
    margin-left: 18vw!important;
}
.modal30{
    width: 30%!important;
}
input::placeholder{
    color: gray!important;
}
*{
    margin: 0;
    padding: 0;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 92%;
}

.bg-grey {
    background: #edebeb;
}

.color-yellow {
    color: #ff9a00;
}

.bg-dark-yellow {
    background: #ff9a00;
}

.gradient-yellow {
    background: linear-gradient(to right, #ffc73f ,#ff9a00);
}

.subtitle-section {
    color: #000;
    text-transform: uppercase;
    font-size: 2.5vw;
    font-weight: 600;
}

.text-section {
    padding: 60px 0;
    text-align: justify;
    font-size: 19px;
    font-weight: 100;
}

.text-section span {
    margin-left: 20px;  
}

.text-section strong {
    font-weight: 300;
}

.btn-section {
    text-decoration: none;
}

.desktop-img {
    display: block;
}

.mobile-img {
    display: none;
}

.button-big-shadow {
    box-shadow: 4px 8px 21px rgba(0,0,0,0.2);
}

section.main-image-home {
    position: relative;
    background-size: 100%;
    background-repeat: no-repeat;
}



button:focus {
    outline: none;
    background-color: #fff;
}

.button-compact-shadow {
    box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
}

@media (max-width: 798px) {
    
    .text-section {
        font-size: 14px;
    }

    .text-section span {
        margin: 0;
    }

    .desktop-img {
        display: none;
    }
    
    .mobile-img {
        display: block;
    }
}

