.ml .titlePage{
    background-color: whitesmoke;
    padding: 0.5vw;
    border-radius: 0.5vw;
    font-size: 1.5vw;
}
.ml .divider.first{
    margin-top: 1vw;
}
.ml .generalContent{
    display: flex;
    margin-top: 1vw;
}
.ml .generalContent .header{
    margin: 1%;
    width: 30%;
}

.ml .generalContent .firstPart{
    margin: 1%;
    width: 50%;
}
.ml .generalContent .secondPart{
    margin: 1%;
    width: 20%;
}
.ml .generalContent .thirdPart{
    width: 100%;
}